<div th:fragment="footer">
    <div id="top-block">
        <div class="container-2" style="height: 100%; display: flex;">
            <div style="width: 50%;">
                <h3>О сайте</h3>
                <p style="line-height: 1.5;">Это веб-сайт, который облегчает процесс заказа перевозки грузов для пользователей и предоставляет
                    возможность создания профилей для логистических компаний. Это позволяет клиентам быстро находить подходящих перевозчиков,
                    а компании - эффективно управлять своей деятельностью.
                </p>
            </div>
            <div style="width: 50%;">
                <h3>Разные страницы</h3>
                <p><a href="/about">О проекте</a></p>
<!--                <p><a>Правила</a></p>-->
<!--                <p><a>Обратная связь</a></p>-->
<!--                <p><a>Помочь проекту</a></p>-->
                <p><a href="/logout">Выйти</a></p>
            </div>
        </div>
    </div>
    <div id="bottom-block"><p style="text-align: center;">UCP ©2024 </p></div>
</div>